name: Publish to PyPI

on:
  push:
    tags:
      - "[0-9]*.[0-9]*.[0-9]*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # required for trusted publishing

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - uses: pypa/gh-action-pypi-publish@release/v1
